html {
	margin: 0;
	padding: 0;
	width: 1200px;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff url(blossoms.jpg) no-repeat bottom right; 
	margin: 0; 
	padding-left:75px;
	padding-bottom: -40px;
	padding-top: 30px;
	}
p { 
	margin-top: 0; 
	/*text-align: justify;*/
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}

.header{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#Spotify{
	float: right;
}
.price{
	position: relative;
	left:640px;
	top: -200px;
}
#introduction{
	width: 400px;
}
.month_release{
	width: 640px;
}
#abtme{
	position: relative;
	right: 23px;
	float: right;
}
#maillist{
	clear:both;
	float: right;
	position: relative;
	top: -100px;
	right: 10px;
}
#detail_tag{
	position: absolute;
	bottom: 10px;
	width: 500px;
}
img {
	float: left;
}
.insert_table {
	float: left;
	margin: 0;
	background: -webkit-gradient(linear, bottom, from(#CCCCCC), to(#EEEEEE));
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	position:relative;
	width:200px;
	height:300px;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 10px;
	padding:10px;
}
.button {
	position: relative;
	top: 380px;
	left: 260px;
	-moz-box-shadow:inset 0px 1px 14px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 14px 0px #ffffff;
	box-shadow:inset 0px 1px 14px 0px #ffffff;
	background-color:transparent;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:200px;
	text-decoration:none;
	text-shadow:1px 1px 9px #ffffff;
}